.search-box {
  background-color: #fff;
  border-bottom: 1px solid #fcfaf9;
  padding-bottom: 20px;
}

  .search-box .search-left {
    float: left;
    width: 30%;
  }

    .search-box .search-left img {
      width: 270px;
      height: 70px;
    }

  .search-box .search-right {
    float: left;
    line-height: 70px;
    width: 65%;
  }

  .search-box .search-right .search-content {
    height: 20px;
    border-radius: 4px;
    border: 1px rgb(13, 185, 250) solid;
    outline: none;
    padding: 5px 10px;
    width: 400px;
  }

    .search-box .search-right .btn {
      background-color: #fff;
      width: 80px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    .search-box .search-right .btn:hover {
      background-color: #aaa;
  }
.blog-list {
  background: #fff;
}
.blog:hover {
  transform: scale(1.02,1.02);
}

.blog {
  box-sizing: border-box;
  width: 80%;
  transition: all .5s ease;

  box-shadow: 0 0 5px 1px #ccc;
  padding: 8px 5px;
  margin-bottom: 10px;
  position: relative;
}

  .blog a {
    color: #337ab7;
  }

  .blog .blog-left {
    position: relative;
    float: left;
    padding: 5px;
    padding-right: 10px;
  }

    .blog .blog-left img {
      width: 200px;
      height: 145px;
    }

  .blog .blog-title {
    margin-bottom: 10px;
  }

    .blog .blog-title a {
      font-size: 18px;
      transition: .5s color ease-in;
    }

      .blog .blog-title a:hover {
        color: #51aded;
      }

  .blog .blog-content {
    font-size: 12px;
    padding: 0 10px;
    min-height: 70px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  }

    .blog .blog-content p {
      margin-bottom: 10px;
    }

  .blog .blog-footer {
    border-top: solid 1px #f3f3f3;
  }

    .blog .blog-footer span span {
      margin-right: 15px;
    }

    .blog .blog-footer .readme {
      float: right;
      margin-right: 15px;
    }
