
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Domain.ViewModel
@{ 
  CommentViewModel comment = ViewData.Model as CommentViewModel;
}
<div class="comment-info">
  <div class="clearfix">
    <div class="comment-left">
      <img class="title-img" src="~/images/headportrait.jpg" />
    </div>
    <div class="comment-right">
      <p class="nick">@comment.NickName</p>
      <p class="meta"><span>#40楼</span> <span>@comment.CommentTime</span></p>
    </div>
  </div>
  <div class="comment-content">
    @comment.Content
  </div>
  <div class="tool-group">
    <div class="like-icon">
      <a href="javascript:;">
        <i class="icon-zan"></i><span>@comment.Like 人点赞</span>
      </a>
    </div>
    <div class="like-icon">
      <a href="#">
        <i class="icon-hh"></i><span>回复</span>
      </a>
    </div>
  </div>
  <div class="sub-comment">

  </div>
</div>